.register-page {
  min-height: 100vh;
  background: #eaf2ff;
  padding: 24px;
}

/* Logo */
.register-logo img {
  width: 300px;
  height: auto;
  margin-top: -80px;
  margin-left: 10px;
}

/* Layout */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
}

/* Card */
.register-card {
  background: #fff;
  width: 430px;
  margin-top: -150px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.register-card h2 {
  margin-bottom: 20px;
}

/* Inputs */
.input-group {
  margin-bottom: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(60%) sepia(5%) saturate(20%) brightness(95%);
}



/* Button */
.btn-primary {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* Text */
.login-text {
  margin-top: 14px;
  font-size: 14px;
  text-align: center;
  
}

.login-text span {
  color: #2563eb;
  cursor: pointer;
}

.password-group {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.eye-icon:hover {
  color: #000;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}


/* 🔥 Responsive */
@media (max-width: 1024px) {

  .register-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .register-container {
    flex-direction: column;
    align-items: center;
  }

  .login-text {
    text-align: center;
  }
}
